# Mac OS X
*.DS_Store

# IntelliJ
.idea/
.gradle
gradle/
gradlew
gradlew.bat
*.iml

# Nodejs
node_modules
npm-debug.log
# Cordova
out/

# VS Code
.settings/
.vscode/

# Testing
test/TestServer/server-address.js
test/www/jxcore/server-address.js
