# Mac OS X
*.DS_Store
.idea/
.gradle
**/*.iml

# Nodejs
node_modules
npm-debug.log
# Cordova
out/
src/android/.gradle/

# VS Code
.settings/

# IntelliJ/Android Studio
*.iml

# Don't repeat test files
test/www/jxcore/thali/