<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.thaliproject.p2p"
    version="0.0.1">
    <name>Thali</name>
    <description>ThaliPlugin to be used on top of JXcore</description>
    <license>MIT</license>
    <keywords>cordova,jxcore,node.js,thali</keywords>
    <engines>
        <engine name="cordova-android" version=">=4.1.0" />
        <engine name="cordova-ios" version=">=3.9.0" />
        <engine name="android-sdk" version=">=19" />
    </engines>

    <!-- Android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <framework src="src/android/JXcore.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/java/io/jxcore/node/ConnectionHelper.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/ConnectionStatusListener.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/ConnectivityMonitor.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/IncomingSocketThread.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/LifeCycleMonitor.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/OutgoingSocketThread.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/SocketThreadBase.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/StreamCopyingThread.java" target-dir="src/io/jxcore/node/" />
        <hook type="before_compile" src="scripts/androidBeforeCompile.js" />
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
        </config-file>
        <framework src="MultipeerConnectivity.framework" />
        <framework src="CoreBluetooth.framework" />
        <framework src="SystemConfiguration.framework" />
        <source-file src="src/ios/JXcoreExtension.m"
          compiler-flags="-Werror"/>
        <header-file src="src/ios/Utility/THEThreading.h"
          compiler-flags="-Werror" />
        <header-file src="src/ios/Utility/THEAtomicFlag.h"
          compiler-flags="-Werror" />
        <source-file src="src/ios/Utility/THEAtomicFlag.m" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/NPReachability/NPReachability.h" 
          compiler-flags="-Werror"/>
        <source-file src="src/ios/NPReachability/NPReachability.m" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/THEAppContext.h" 
          compiler-flags="-Werror"/>
        <source-file src="src/ios/THEAppContext.m" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/THEPeer.h" 
          compiler-flags="-Werror"/>
        <source-file src="src/ios/THEPeer.m" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/THEPeerBluetoothDelegate.h" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/THEPeerBluetooth.h" 
          compiler-flags="-Werror"/>
        <source-file src="src/ios/THEPeerBluetooth.m" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/MultipeerConnectivity/THEMultipeerSession.h" 
          compiler-flags="-Werror"/>
        <source-file src="src/ios/MultipeerConnectivity/THEMultipeerSession.m" 
          compiler-flags="-Werror -std=gnu99"/>
        <header-file src="src/ios/MultipeerConnectivity/THEMultipeerDiscoveryDelegate.h" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/MultipeerConnectivity/THEMultipeerClient.h" 
          compiler-flags="-Werror"/>
        <source-file src="src/ios/MultipeerConnectivity/THEMultipeerClient.m" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/MultipeerConnectivity/THEMultipeerServer.h" 
          compiler-flags="-Werror"/>
        <source-file src="src/ios/MultipeerConnectivity/THEMultipeerServer.m" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/MultipeerConnectivity/THEMultipeerPeerSession.h" 
          compiler-flags="-Werror"/>
        <source-file src="src/ios/MultipeerConnectivity/THEMultipeerPeerSession.m" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/MultipeerConnectivity/THEMultipeerClientSession.h" 
          compiler-flags="-Werror"/>
        <source-file src="src/ios/MultipeerConnectivity/THEMultipeerClientSession.m" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/MultipeerConnectivity/THEMultipeerServerSession.h" 
          compiler-flags="-Werror"/>
        <source-file src="src/ios/MultipeerConnectivity/THEMultipeerServerSession.m" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/MultipeerConnectivity/THEMultipeerSocketRelay.h" 
          compiler-flags="-Werror"/>
        <source-file src="src/ios/MultipeerConnectivity/THEMultipeerSocketRelay.m" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/MultipeerConnectivity/THEMultipeerClientSocketRelay.h" 
          compiler-flags="-Werror"/>
        <source-file src="src/ios/MultipeerConnectivity/THEMultipeerClientSocketRelay.m" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/MultipeerConnectivity/THEMultipeerClientSocketRelayDelegate.h" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/MultipeerConnectivity/THEMultipeerServerSocketRelay.h" 
          compiler-flags="-Werror"/>
        <source-file src="src/ios/MultipeerConnectivity/THEMultipeerServerSocketRelay.m" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/GCDAsyncSocket/GCDAsyncSocket.h" 
          compiler-flags="-Werror"/>
        <source-file src="src/ios/GCDAsyncSocket/GCDAsyncSocket.m" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/Utility/THEProtectedMutableDictionary.h" 
          compiler-flags="-Werror"/>
        <source-file src="src/ios/Utility/THEProtectedMutableDictionary.m" 
          compiler-flags="-Werror"/>
        <header-file src="src/ios/Utility/THESessionDictionary.h" 
          compiler-flags="-Werror"/>
        <source-file src="src/ios/Utility/THESessionDictionary.m" 
          compiler-flags="-Werror"/>
    </platform>
</plugin>
