<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.thaliproject.p2p"
    version="0.0.1">
    <name>Thali</name>
    <description>ThaliPlugin to be used on top of JXcore</description>
    <license>MIT</license>
    <keywords>cordova,jxcore,node.js,thali</keywords>

    <engines>
        <engine name="cordova-android" version=">=6.0.0" />
        <engine name="cordova-ios" version=">=4.3.0" />
        <engine name="android-sdk" version=">=23" />
    </engines>

    <!-- Android -->
    <platform name="android">
      <hook type="after_plugin_install" src="thali/install/cordova-hooks/android/after_plugin_install.js" />

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <framework src="src/android/JXcore.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/java/io/jxcore/node/ConnectionData.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/ConnectionHelper.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/ConnectionModel.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/ConnectivityMonitor.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/IncomingSocketThread.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/JXcoreThaliCallback.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/LifeCycleMonitor.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/ListenerOrIncomingConnection.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/OutgoingSocketThread.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/SocketThreadBase.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/StartStopOperation.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/StartStopOperationHandler.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/StreamCopyingThread.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/TestHelper.java" target-dir="src/io/jxcore/node/" />

        <!-- ThaliPermissions -->
        <config-file target="config.xml" parent="/*">
          <feature name="ThaliPermissions" >
            <param name="android-package" value="org.thaliproject.p2p.ThaliPermissions"/>
          </feature>
        </config-file>

        <js-module src="www/android/thaliPermissions.js" name="ThaliPermissions">
            <clobbers target="window.ThaliPermissions" />
        </js-module>
        <source-file src="src/android/java/org/thaliproject/p2p/ThaliPermissions.java" target-dir="src/org/thaliproject/p2p/" />
    </platform>

    <!-- iOS -->

    <platform name="ios">

        <hook type="before_plugin_install" src="thali/install/cordova-hooks/ios/before_plugin_install.js" />
        <hook type="after_plugin_install" src="thali/install/cordova-hooks/ios/after_plugin_install.js" />

        <config-file target="config.xml" parent="/*">
          <feature name="ThaliPlugin">
              <param name="ios-package" value="ThaliPlugin" />
          </feature>
        </config-file>

        <source-file src="src/ios/JXcoreExtension.m" compiler-flags="-Werror"/>
        <source-file src="src/ios/AppContext.swift" compiler-flags="-Werror"/>
        <source-file src="src/ios/AppContextTests.swift" compiler-flags="-Werror"/>

    </platform>
</plugin>
