<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.thaliproject.p2p"
    version="0.0.1-dev">
    <name>ThaliPlugin</name>
    <description>ThaliPlugin to be used on top of JxCore</description>
    <license>MIT</license>
    <keywords>cordova,jxcore,node.js, thali</keywords>

    <dependency id="io.jxcore.node" url="https://github.com/jxcore/jxcore-cordova" />
    
    <engines>
      <engine name="cordova-android" version=">=3.2.0" />
      <engine name="android-sdk" version=">=19" />
    </engines>	
    
    <platform name="android">
	    <config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />	
        </config-file>
		
       
	<framework src="src/android/JXcore.gradle" custom="true" type="gradleReference"/>
	   
		<source-file src="src/android/java/io/jxcore/node/BtToRequestSocket.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/BtToServerSocket.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/StreamCopyingThread.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/BtConnectorHelper.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/ConnectivityMonitor.java" target-dir="src/io/jxcore/node/" />
        <source-file src="src/android/java/io/jxcore/node/LifeCycleMonitor.java" target-dir="src/io/jxcore/node/" />
	
    </platform>

</plugin>
